{% load staticfiles %}
<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8" />
    <script src="{% static 'jcubic-jquery.terminal-5132759/js/jquery-1.7.1.min.js' %}"></script>
    <script src="{% static 'jcubic-jquery.terminal-5132759/js/jquery.mousewheel-min.js' %}"></script> 
    <script src="{% static 'jcubic-jquery.terminal-5132759/js/jquery.terminal.min.js' %}"></script>
    <link href="{% static 'jcubic-jquery.terminal-5132759/css/jquery.terminal.css' %}" rel="stylesheet"/> 
    <title>Terminal Emulator</title>
    <script type="text/javascript">

    function proc() {
        var term = this; //save context
         $.getJSON(
                '/terminal/cmd-json/',
                {
                    "cmd": app.last_cmd.name,
                    "param" : app.last_cmd.args
                }
            )
            .done( function(json) {
                 var name = app.last_cmd.name;

                for(i in json[name]) {

                    term.echo(
                            json[name][i].value, {raw:true}
                        );
                }
                term.echo();
            })            
            .fail( function(jqxhr, status, error) {
                console.log( error );
            });
    }

    var app = {

        last_cmd: null,
        bg_music: new Audio(),

        motd: function(ret) {
            if (typeof ret === 'undefined') ret = false;
            var greetText = "";

            if (!ret) {
                this.echo("\b" + greetText);
            } else {
                return greetText;
            }
        },

        super: function() {

        },

        musicoff: function() {
            console.dir(this);
            app.bg_music.pause();
            app.bg_music.currentTime = 0;
            this.echo("background music stoped");
        },

        musicon: function() {
            app.bg_music.play();
            this.echo("background music play");
        },

        musicvolume: function(value) {
            if(value == undefined)
            {
                this.error("Please set value");
                return;
            }
            if(value > 100) { value = 100; }
            if(value < 0) { value = 0; }

            app.bg_music.volume = value/100;
        },

        setmusic: function(value) {
            if(value == undefined)
            {
                this.error("Please set value");
                return;
            }
            if(value > 3) { value = 3; }
            if(value < 1) { value = 1; }

            if(value == 1)
                app.bg_music.src = "{% static 'sounds/Universe - Hideaway.mp3' %}";
            if(value == 2)
                app.bg_music.src = "{% static 'sounds/Kavinsky - Nightcall.mp3' %}";
            if(value == 3)
                app.bg_music.src = "{% static 'sounds/Mark Ronson ft. Bruno Mars - Uptown Funk.mp3' %}";
        },

        playlist: function() {
            this.echo("\t\t1 - Universe - Hideaway.mp3");
            this.echo("\t\t2 - Kavinsky - Nightcall.mp3");
            this.echo("\t\t3 - Mark Ronson ft. Bruno Mars - Uptown Funk.mp3");
        }

    }

    var option = {
        greetings: "Chebotkin E.S. - embedded developer.\
        \nPlease type 'menu' for a list of commands.\
        \nMusic control commands:\
        \n\t\tmusicoff\t\t\t\t\t   - sound off\
        \n\t\tmusicon\t\t\t\t\t    - sound on\
        \n\t\tplaylist\t\t\t\t\t   - view play list :)\
        \n\t\tsetmusic [value:1..3]\t\t  - set background music\
        \n\t\tmusicvolume [value:0...100]\t- set background music volume",        

        onBlur: function() {
            return false;
        },

        completion: true,
        checkArity: false,
 
        onBeforeCommand: function(term, command){
            app.last_cmd = $.terminal.parse_command(command);
            return true;
        },

        onInit: function(term) {

                app.bg_music.src = "{% static 'sounds/Universe - Hideaway.mp3' %}";
                app.bg_music.autoplay = true;
                app.bg_music.volume = 0.25;

                 $.getJSON(
                        '/terminal/init-json/',
                        {init:"hello"}
                    )
                .done( function(json) {
                        for(i in json.cmd_list)
                        {
                            var fname = json.cmd_list[i];
                            app[fname] = proc;

                        }
                    }
                )            
                .fail( function(jqxhr, status, error) {
                        console.log( error );
                    }
                )}
    }

    jQuery(document).ready( function($) {
        $('body').terminal(app, option);

        //setup color
            $('body').css("background", "#336699");
            
            console.dir(app);

            //настройка цвета командной строки
            $('.cmd').css("color", "white"); 
            $('.cmd').css("background", "#336699"); 

            $('.terminal').css("color", "white");

            $('.prompt').css("color", "#8CC971");       


            //$('.terminal').css("font-family", "OswaldLight");
            //$('.terminal').css("font-size", "100%");         
    });
 
    </script>
  </head>
<body>
    
</body>
