{% load staticfiles %}
<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8" />
    <script src="{% static 'jcubic-jquery.terminal-5132759/js/jquery-1.7.1.min.js' %}"></script>
    <script src="{% static 'jcubic-jquery.terminal-5132759/js/jquery.mousewheel-min.js' %}"></script>
    <script src="{% static 'jcubic-jquery.terminal-5132759/js/jquery.terminal.min.js' %}"></script>
    <link href="{% static 'jcubic-jquery.terminal-5132759/css/jquery.terminal.css' %}" rel="stylesheet"/>
    <title>CV terminal</title>
    <script type="text/javascript">

    var list = [
    "<pre class='out-text'>      1 - Universe - Hideaway.mp3</pre>",
    "<pre class='out-text'>      2 - Kavinsky - Nightcall.mp3</pre>",
    "<pre class='out-text'>      3 - Mark Ronson ft. Bruno Mars - Uptown Funk.mp3</pre>"];

    var title = [
    "<pre class='out-text' style='color: White'> ██████╗██╗   ██╗    ████████╗███████╗██████╗ ███╗   ███╗██╗███╗   ██╗ █████╗ ██╗     </pre>",
    "<pre class='out-text' style='color: White'>██╔════╝██║   ██║    ╚══██╔══╝██╔════╝██╔══██╗████╗ ████║██║████╗  ██║██╔══██╗██║     </pre>",
    "<pre class='out-text' style='color: White'>██║     ██║   ██║       ██║   █████╗  ██████╔╝██╔████╔██║██║██╔██╗ ██║███████║██║     </pre>",
    "<pre class='out-text' style='color: White'>██║     ╚██╗ ██╔╝       ██║   ██╔══╝  ██╔══██╗██║╚██╔╝██║██║██║╚██╗██║██╔══██║██║     </pre>",
    "<pre class='out-text' style='color: White'>╚██████╗ ╚████╔╝        ██║   ███████╗██║  ██║██║ ╚═╝ ██║██║██║ ╚████║██║  ██║███████╗</pre>",
    "<pre class='out-text' style='color: White'> ╚═════╝  ╚═══╝         ╚═╝   ╚══════╝╚═╝  ╚═╝╚═╝     ╚═╝╚═╝╚═╝  ╚═══╝╚═╝  ╚═╝╚══════╝</pre>",
    "<pre class='out-label' style='color: Red'><b>Website under construction!</b></pre>",
    "<pre class='out-label'>Chebotkin E.S. - embedded developer.</pre>",
    "<pre class='out-text'>Music control commands:</pre>",
    "<pre class='out-text'>      musicoff                    - sound off</pre>",
    "<pre class='out-text'>      musicon                     - sound on</pre>",
    "<pre class='out-text'>      playlist                    - view playlist :)</pre>",
    "<pre class='out-text'>      setmusic [value:1..3]       - set background music</pre>",
    "<pre class='out-text'>      musicvolume [value:0...100] - set background music volume</pre>",
    "<pre class='out-text'>Other:</pre>",
    "<pre class='out-text'>      menu                        - list of command</pre>",
    "<pre class='out-text'>      hello                       - view this text</pre>"
    ];

    function print_text(str_array, term, delay) {
        var i = 0;
        (function print_str()
        {
            if(i<str_array.length)
            {
                term.echo(str_array[i], {raw:true});
                i++;
                setTimeout(print_str, delay);
            }
            else
            {
                term.echo();
            }
        }).call();
    };

    function proc() {
        var term = this; //save context
         $.getJSON(
                '/terminal/cmd-json/',
                {
                    "cmd": app.last_cmd.name,
                    "param" : app.last_cmd.args
                }
            )
            .done( function(json) {
                var name = app.last_cmd.name;
		        print_text(json[name], term, 100);
            })
            .fail( function(jqxhr, status, error) {
                console.log( error );
            });
    };

    var app = {

        last_cmd: null,
        bg_music: new Audio(),

        hello: function() {
            print_text(title, this, 100);
        },

        super: function() {

        },

        musicoff: function() {
            app.bg_music.pause();
            app.bg_music.currentTime = 0;
        },

        musicon: function() {
            app.bg_music.play();
        },

        musicvolume: function(value) {
            if(value == undefined)
            {
                this.error("Please set value");
                return;
            }
            if(value > 100) { value = 100; }
            if(value < 0) { value = 0; }

            app.bg_music.volume = value/100;
        },

        setmusic: function(value) {
            if(value == undefined)
            {
                this.error("Please set value");
                return;
            }
            if(value > 3) { value = 3; }
            if(value < 1) { value = 1; }

            if(value == 1)
                app.bg_music.src = "{% static 'sounds/Universe - Hideaway.mp3' %}";
            if(value == 2)
                app.bg_music.src = "{% static 'sounds/Kavinsky - Nightcall.mp3' %}";
            if(value == 3)
                app.bg_music.src = "{% static 'sounds/Mark Ronson ft. Bruno Mars - Uptown Funk.mp3' %}";
        },

        playlist: function() {
	        print_text(list,this,100);
        }

    };

    var option = {
        greetings: null,

	    prompt: "guest:$ ",

        onBlur: function() {
            return false;
        },

        completion: true,
        checkArity: false,

        onBeforeCommand: function(term, command){
            app.last_cmd = $.terminal.parse_command(command);
            return true;
        },

        onInit: function(term) {
            print_text(title, term, 100);
	    }
    };

    jQuery(document).ready( function($) {

		app.bg_music.src = "{% static 'sounds/Universe - Hideaway.mp3' %}";
        app.bg_music.autoplay = true;
        app.bg_music.volume = 0.10;
        $.getJSON(
                '/terminal/init-json/',
                {init:"hello"}
        )
        .done( function(json) {
                for(i in json.cmd_list)
                {
                    var fname = json.cmd_list[i];
                    app[fname] = proc;
	            }

	            $('body').terminal(app, option);

	            $('body').css("background", "#0C0C15");
                $('.cmd').css("color", "#A8E5A9");
                $('.cmd').css("background", "#0C0C15");
                $('.terminal').css("color", "#D5D4EE");
                $('.prompt').css("color", "#5EC460");

        })
        .fail( function(jqxhr, status, error) {
                console.log( error );
            }
        )
    });

    </script>
  </head>
<body>

</body>
